#tab {color: black !important;
  font-size: 20px ;
  font-weight: bold;


}

#col6{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
}
#border{
    box-shadow: none;
    border: 1px solid white;

}
#card-title-padd{
    box-shadow: 1px 1px 5px #aaaaaa;
    padding: 10px; 
}
#card-padd{
    padding: 0;
}
.link-to{
    padding: 0.5rem;
}
#link-hover:hover{
    background-color: white;

}
